[Desktop Entry]
Version=1.0
Type=Application
Name=WireGuard Manager
Comment=Управление WireGuard подключением
Exec=/usr/bin/python3 /home/mrnurali/wireguard_manager.py
Icon=network-vpn
Terminal=false
Categories=Network;Settings;
Keywords=wireguard;vpn;network;
